<div id="mySidenav" class="sidenav shadow">
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
      <ul>
          <li *ngFor="let area of areas" [routerLink]="['/area', area]"><a routerLink="/area">{{area.id}}</a></li>
      </ul>
    <li><a routerLink="/fancy">Settings</a></li>
    <li><a routerLink="/nice">About</a></li>
  </ul>
</div>

<div id="main">
  <div class="header toolbar">
      <div id="menuIcon" class="container" (click)="toggleNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <h2 class="appTitle">WebPEP</h2>
  </div>
  
  <div class="contentArea">
    <router-outlet></router-outlet>
  </div>
</div>