<div class="dashboardArea">
            <div class="dashboardContent">
                <img src="https://i.pinimg.com/236x/b6/df/53/b6df53bdb96df3ff1af12082b0acdb50--so-funny-funny-pics.jpg" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            <div class="dashboardContent">
                <img src="https://i.pinimg.com/236x/b6/df/53/b6df53bdb96df3ff1af12082b0acdb50--so-funny-funny-pics.jpg" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            <div class="dashboardContent">
                <img src="https://i.pinimg.com/236x/b6/df/53/b6df53bdb96df3ff1af12082b0acdb50--so-funny-funny-pics.jpg" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            <div class="dashboardContent">
                <img src="https://i.pinimg.com/236x/b6/df/53/b6df53bdb96df3ff1af12082b0acdb50--so-funny-funny-pics.jpg" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
</div>